<%

// block rows to hide initially
var hiddenRows = ['mixHash', 'extraData', 'logsBloom', 'receiptsRoot', 'sha3Uncles', 'stateRoot', 'totalDifficulty', 'transactionsRoot', 'uncles', 'size', 'nonce', 'difficulty'];

%>

<%- include('../layouts/header') -%>

<h2>Block: <%= block.number %></h2>
<div>Hash: <%= block.hash %></div>
<div>Date: <%= dateTime %></div>
<div><a href="/blocks/<%= block.parentHash %>">Parent block</a></div>

<span class='showhide' style='float:right;'>Show/hide full details</span>
<h4>Details</h4>
<table class="table table-bordered">
	<% Object.keys(block).forEach(function(item) { %>
		<tr class='collapse <%= hiddenRows.indexOf(item) == -1 ? 'in' : 'showhideitem out' %>'>
			<td><%= item %></td>
			<td>
				<% if(item == 'transactions') { %>
					<%= block[item].length %>
				<% } else if(item == 'logsBloom') { %>
					...
				<% } else { %>
					<%= block[item] %>
				<% } %>
			</td>
		</tr>
	<% }); %>
</table>
<h4>Transactions</h4>
<table class="table table-bordered">
	<tr>
		<th>Hash</th>
		<th>From</th>
		<th>To</th>
		<th>Value</th>
	</tr>
	<% Object.keys(block.transactions).forEach(function(item) { %>
		<tr>
			<td>
				<a href="/transactions/<%= block.transactions[item].hash %>"><%= block.transactions[item].hash.substring(0, 32) %>...</a>
			</td>
			<td>
				<a href="/accounts/<%= block.transactions[item].from %>"><%= block.transactions[item].from %></a>
			</td>
			<td>
				<a href="/accounts/<%= block.transactions[item].to %>"><%= block.transactions[item].to %></a>
			</td>
			<td>
				<%= block.transactions[item].value %>
			</td>
		</tr>
	<% }); %>
</table>

<%- include('../layouts/footer') -%>
