<%- include('../layouts/header') -%>
<h3>Syncing: <%= syncStats !== false %></h3>
<% if(syncStats !== false) { %>
	<h3>Syncing status:</h3>
	<table class="table table-bordered">
		<% Object.keys(syncStats).forEach(function(item) { %>
			<tr>
				<td><%= item %></td>
				<td>
					<% if(item == 'currentBlock') { %>
						<a href="/blocks/<%= syncStats[item] %>"><%= syncStats[item] %></a>
					<% } else { %>
						<%= syncStats[item] %>
					<% } %>
				</td>
			</tr>
		<% }); %>
	</table>
<% } else { %>
	<div><a href="/blocks/<%= latestBlock %>">Latest block</a></div>
<% } %>
<h3>PeerCount: <%= peerCount %></h3>

<h3>Accounts:</h3>
<table class="table table-bordered">
	<% Object.keys(accounts).forEach(function(item) { %>
		<tr>
			<td><%= item %></td>
			<td>
				<%= accounts[item] %>
			</td>
		</tr>
	<% }); %>
</table>
<%- include('../layouts/footer') -%>
