<%- include('../layouts/header') -%>
<h2>Token: <%= token.address %></h2>
<div>Name: <%= token.name() %></div>
<div>Total Supply: <%= token.totalSupply() %></div>

<%- include('../layouts/footer') -%>
